<div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <button class="close-btn" (click)="closeModal()">&times;</button>
            <h2 class="modal-title">Actualizar Tarea</h2>
            <p class="modal-subtitle">Modifica los detalles de tu tarea</p>
        </div>

        <div class="modal-body">
            <form id="updateTaskForm" [formGroup]="updateTaskForm">
                <div class="form-group">
                    <label for="titleTask" class="form-label">
                        Título de la Tarea <span class="required">*</span>
                    </label>
                    <input type="text" id="titleTask" name="titleTask" class="form-input"
                        placeholder="Ingresa el título de la tarea" required formControlName="titleTask">
                    <p class="form-help-text">Nombre corto y conciso de la tarea (obligatorio)</p>
                    @if (updateTaskForm.get('titleTask')?.invalid && (updateTaskForm.get('titleTask')?.dirty ||
                    updateTaskForm.get('titleTask')?.touched)) {
                    <div *ngIf="updateTaskForm.get('titleTask')?.errors as errors">
                        @if (errors['zodError']) {
                        <app-label-type typeMessage="error">
                            {{ errors['zodError'].message }}
                        </app-label-type>
                        }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label for="descriptionTask" class="form-label">Descripción de la Tarea</label>
                    <textarea id="descriptionTask" name="descriptionTask" class="form-input form-textarea"
                        placeholder="Añade detalles, notas o instrucciones sobre la tarea"
                        formControlName="descriptionTask"></textarea>
                    <p class="form-help-text">Detalles adicionales sobre la tarea (opcional)</p>
                    @if (updateTaskForm.get('descriptionTask')?.invalid && (updateTaskForm.get('descriptionTask')?.dirty
                    ||
                    updateTaskForm.get('descriptionTask')?.touched)) {
                    <div *ngIf="updateTaskForm.get('descriptionTask')?.errors as errors">
                        @if (errors['zodError']) {
                        <app-label-type typeMessage="error">
                            {{ errors['zodError'].message }}
                        </app-label-type>
                        }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label for="dueDate" class="form-label">Fecha Límite</label>
                    <input type="date" id="dueDate" name="dueDate" class="form-input" formControlName="dueDate">
                    <p class="form-help-text">Fecha en la que debe completarse la tarea (opcional)</p>
                    @if (updateTaskForm.get('dueDate')?.invalid && (updateTaskForm.get('dueDate')?.dirty ||
                    updateTaskForm.get('dueDate')?.touched)) {
                    <div *ngIf="updateTaskForm.get('dueDate')?.errors as errors">
                        @if (errors['zodError']) {
                        <app-label-type typeMessage="error">
                            {{ errors['zodError'].message }}
                        </app-label-type>
                        }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label for="priority" class="form-label">Prioridad</label>
                    <select id="priority" name="priority" class="form-select" formControlName="priority">
                        <option value="">Selecciona una prioridad</option>
                        <option value="Baja">Baja</option>
                        <option value="Media">Media</option>
                        <option value="Alta">Alta</option>
                    </select>
                    <p class="form-help-text">Clasifica la importancia de la tarea (opcional)</p>
                    @if (updateTaskForm.get('priority')?.invalid && (updateTaskForm.get('priority')?.dirty ||
                    updateTaskForm.get('priority')?.touched)) {
                    <div *ngIf="updateTaskForm.get('priority')?.errors as errors">
                        @if (errors['zodError']) {
                        <app-label-type typeMessage="error">
                            {{ errors['zodError'].message }}
                        </app-label-type>
                        }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label for="status" class="form-label">
                        Estatus
                    </label>
                    <select id="status" name="status" class="form-select" formControlName="status">
                        <option value="En progreso">En progreso</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Terminada">Terminada</option>
                    </select>
                    @if (updateTaskForm.get('status')?.invalid && (updateTaskForm.get('status')?.dirty ||
                    updateTaskForm.get('status')?.touched)) {
                    <div *ngIf="updateTaskForm.get('status')?.errors as errors">
                        @if (errors['zodError']) {
                        <app-label-type typeMessage="error">
                            {{ errors['zodError'].message }}
                        </app-label-type>
                        }
                    </div>
                    }
                </div>

            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
            <button type="submit" form="updateTaskForm" (click)="updateTask()" [disabled]="updateTaskForm.invalid"
                class="btn btn-primary">Actualizar
                Tarea</button>
        </div>
    </div>
</div>