<div class="modal-overlay">
        <div class="modal">
            <div class="modal-header">
                <button class="close-btn">&times;</button>
                <h2 class="modal-title">Eliminar Tarea</h2>
                <p class="modal-subtitle">¿Desea eliminar esta tarea?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
                <button type="submit" form="updateTaskForm" class="btn btn-primary" (click)="deleteTask()">Eliminar Tarea</button>
            </div>
        </div>
    </div>
